html {
  font-size: 16px;
  color: #273d46;
}

body {
  background: #e8e8e8 url(../img/bg.png) 50% 8.125rem no-repeat;
}

.content {
  padding: 10.5rem 0 8.5rem 0;
  max-width: 57%;
  margin: 0 auto;
}

.content-top {
  text-align: center;
  margin-bottom: 4.125rem;
}

.content-top-category {
  opacity: 0.6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.175rem;
}

.content-top-title {
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 3.125rem;
  padding: 0 3.5rem;
}

.content-image {
  box-shadow: 0 1rem 4rem rgba(15, 16, 16, 0.15);
  background-color: #fff;
  padding: 0.625rem;
  margin-bottom: 5.375rem;
}

.content-image img {
  width: 100%;
}

.content-bottom {
  padding: 0 2.75rem;
}

.content-bottom-text {
  opacity: 0.8;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}

.content-bottom-text p {
  margin-bottom: 2.5rem;
}

.content-bottom-text p:last-child {
  margin-bottom: 0;
}

.content-bottom-info-list {
  padding: 0;
  margin-bottom: 3.75rem;
}

.content-bottom-info-list li {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  background: url("../img/icons/check.png") left no-repeat;
  padding-left: 2.5rem;
}

.content-bottom-info-list li:last-child {
  margin-bottom: 0;
}

.content-bottom-info-list li:nth-child(1) {
  text-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.3);
}
.content-bottom-info-list li:nth-child(2) {
  color: #80b7b3;
  font-style: italic;
}
.content-bottom-info-list li:nth-child(3) {
  font-weight: bold;
}
.content-bottom-info-list li:nth-child(4) {
  text-decoration: line-through;
}

.content-bottom-info-list li:nth-child(4) span {
  opacity: 0.3;
}

.content-bottom-info-link {
  display: block;
  box-sizing: border-box;
  max-width: 13.125rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background-color: #80b7b3;
  box-shadow: 0 0.375rem 2.5rem rgba(128, 183, 179, 0.54);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.175rem;
}

.content-bottom-info-link span {
  background: url(../img/icons/arrow.svg) right no-repeat;
  padding-right: 2rem;
}

.content-bottom-info-link:hover {
  opacity: 0.8;
}

.content-bottom-info-link:active {
  transform: translateY(0.0625rem);
}
