@use "sass:math";
@use "../variables" as v;

.card {
  display: block;
  padding: v.$base-padding;
  border: v.$base-border-thickness solid #ddd;
  box-shadow: v.$base-box-shadow;
  border-radius: math.div(v.$base-border-radius, 4);

  .card-title {
    font-size: v.$font-size-lg;
    padding-bottom: v.$base-padding;
    font-weight: bold;
  }

  .card-body {
    font-size: v.$base-font-size;

    a {
      text-decoration: underline;
    }
  }
}
