@use "../variables" as v;

%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;
  padding: v.$base-padding v.$base-padding * 2;
  box-shadow: v.$base-box-shadow;
  .site-title {
    font-size: v.$font-size-lg;
  }
  .container {
    @extend %flex-layout;
  }
}

@each $key, $val in v.$colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}
