* {
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

h1,
.section-title {
  text-align: center;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.btn-1 {
  background-color: #296e33;
}

.btn-2 {
  background-color: #2a1cef;
}

.btn-3 {
  background-color: #f5eb33;
}

.btn-full-width {
  background-color: #e8e31b;
  width: 100%;
}

.btn-with-effect {
  background-color: #969c79;
}

.btn-with-effect:active {
  transform: scale(0.98);
}

.rings-container {
  position: relative;
  width: 400px;
  height: 180px;
  margin: 0 auto;
}

.ring {
  width: 30%;
  height: 67%;
  border-radius: 50%;
  position: absolute;
  border: 10px solid;
}

.ring-1 {
  top: 0;
  left: 0;
}

.ring-2 {
  left: 35%;
}

.ring-3 {
  left: 70%;
}

.ring-4 {
  top: 33%;
  left: 17.5%;
}

.ring-5 {
  top: 33%;
  left: 52.5%;
}

.progress-bar {
  width: 500px;
  height: 20px;
  position: relative;
  border: 1px solid grey;
  padding: 3px;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 50%;
  height: 10px;
  background-color: lightblue;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 5px;
  width: 20%;
  height: 10px;
  background-color: red;
}
