/* Styles Reset */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100%;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.015rem;
  background: #fafafa;
}

.second-text-color {
  color: #737373;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: content-box;
}

/* Styling Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.header-container {
  display: flex;
  min-height: 7.5rem;
  align-items: center;
}

.header-logo {
  margin-right: 9.3rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: inherit;
}

@media screen and (max-width: 992px) {
  .header-logo {
    margin-right: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    margin-right: 3rem;
  }
}

.header-menu {
  padding: 0.35rem 0;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  margin-right: 1.5rem;
}

.menu-link {
  font-weight: 600;
  line-height: 1.7rem;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header-container {
    min-height: 5rem;
  }
  .header-logo {
    margin-right: 1.5rem;
  }
  .menu-link {
    font-size: 1.3rem;
  }
}

/* --------------------------------------------Styling Burger Menu------------------------------------------------------ */

.burger-menu {
  display: none;
}

#burger-menu-toggle,
.burger-menu-btn {
  position: absolute;
  right: 2.3rem;
  top: 2.3rem;
}

#burger-menu-toggle {
  opacity: 0;
}

.burger-menu-btn {
  display: flex;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 1;
}

.burger-menu-btn > span,
.burger-menu-btn > span::before,
.burger-menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: #737373;
  transition-duration: 0.25s;
}

.burger-menu-btn > span::before {
  content: "";
  top: -1rem;
}
.burger-menu-btn > span::after {
  content: "";
  top: 1rem;
}

.burger-list {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 100%;
  width: 20rem;
  margin: 0;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 0.07rem 0 0.5rem rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.burger-list-item {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.burger-link {
  display: block;
}

#burger-menu-toggle:checked ~ .burger-menu-btn > span {
  transform: rotate(45deg);
}
#burger-menu-toggle:checked ~ .burger-menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#burger-menu-toggle:checked ~ .burger-menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#burger-menu-toggle:checked ~ .burger-list {
  visibility: visible;
  right: 0;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }
  .header-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #burger-menu-toggle,
  .burger-menu-btn {
    position: absolute;
    right: 3rem;
    top: 1rem;
  }
}

/* --------------------------------------------Styling Main------------------------------------ */

.main {
  flex: 1 1 auto;
}

.main-section {
  position: relative;
}

.main-section-head {
  max-width: 40%;
  padding: 13.1rem 0 13.6rem 0;
  z-index: 2;
  position: relative;
}

.main-section-head > *:not(:last-child) {
  margin-bottom: 2.5rem;
}

.main-title {
  font-size: 4.15rem;
  font-weight: 800;
}

.main-text {
  font-size: 1.5rem;
}

.main-section-buttons {
  display: flex;
  justify-content: space-between;
}

.main-btn {
  width: 49%;
  min-height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 2.6rem;
  border-radius: 2.6rem;
  border: 1px solid #0d5c63;
  font-weight: 700;
  line-height: 2;
  color: #0d5c63;
}

.main-btn:hover {
  border: 0;
  background: #ff7b47;
  color: #fff;
}

.main-section-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-section-pic img {
  object-position: right;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .main-section-head {
    padding: 8.5rem 0 13.6rem 0;
  }
  .main-section-pic {
    opacity: 0.5;
  }
  .main-section-buttons {
    flex-direction: column;
  }
  .main-section-buttons > *:not(:last-child) {
    margin: 0 0 0.7rem 0;
  }
  .main-btn {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .main-section-head {
    max-width: 100%;
  }
  .main-title {
    font-size: 3rem;
  }
}

/* ------------------------------------Styling Services Section--------------------------------- */

.services-section {
  transform: translateY(-7.9rem);
  position: relative;
  z-index: 2;
}

.services-cards {
  display: flex;
  gap: 2rem;
}

.card-item {
  width: 33.33%;
  box-shadow: 0 1rem 1.4rem 0 rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.9rem;
  background: #fff;
}

@media screen and (max-width: 992px) {
  .services-cards {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card-item {
    flex: 0 1 49%;
  }
  .card-item:last-child {
    flex: 0 1 100%;
  }
}
@media screen and (max-width: 730px) {
  .card-item {
    flex: 0 1 100%;
  }
}

.card-item > *:not(:last-child) {
  margin-bottom: 0.7rem;
}

.card-icon {
  position: relative;
}

.hover-icon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.card-title {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.0007rem;
}

.card-item:hover,
.card-item:hover .card-text {
  background: #0d5c63;
  color: #fff;
}

.card-item:hover .hover-icon {
  display: block;
}

/* --------------------------------------Styling Features Section-------------------------------- */

/*------------------------------------------Styling Head Block----------------------------------- */

.head-block {
  text-align: center;
  padding: 0 6.6rem;
}

.head-block-title {
  font-size: 2.85rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}

@media screen and (max-width: 992px) {
  .head-block {
    padding: 0 3rem;
  }
  .head-block-title {
    font-size: 2.15rem;
  }
}
@media screen and (min-width: 930px) {
  .head-block-text {
    padding: 0 12rem;
  }
}
@media screen and (max-width: 626px) {
  .head-block {
    padding: 0 1rem;
  }
}

.features-section {
  padding: 5.7rem 0;
}

.features-head {
  margin-bottom: 3.6rem;
}

.features-cards,
.advice-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-card-item {
  flex: 0 1 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.15rem 2.6rem;
  background: #fff;
  box-shadow: 0 1rem 1.4rem 0 rgba(0, 0, 0, 0.07);
}

@media screen and (max-width: 992px) {
  .features-card-item {
    flex: 0 1 49%;
    margin-bottom: 1rem;
  }
  .features-section {
    padding: 3.5rem 0;
  }
  .features-head {
    margin-bottom: 3rem;
    padding: 0 3rem;
  }
}
@media screen and (max-width: 626px) {
  .features-head {
    margin-bottom: 1rem;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 551px) {
  .features-card-item {
    flex: 0 1 100%;
    margin-bottom: 1rem;
  }
  .features-section {
    padding: 2rem 0;
  }
}

.features-card-item > *:not(:last-child) {
  margin-bottom: 0.7rem;
}

.features-card-subtitle {
  font-size: 1.15rem;
  font-weight: 700;
  text-align: center;
}

/* --------------------------------------------Styling Advice Section---------------------------- */

.advice-section {
  padding: 8.9rem 0 5.7rem;
}

.advice-head {
  margin-bottom: 3.2rem;
}

.advice-card-item {
  flex: 0 1 23%;
}

.advice-card-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 1rem 1.4rem 0 rgba(0, 0, 0, 0.07);
  transition: all 0.5s;
}

.advice-card-link:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .advice-section {
    padding: 0 0 3rem 0;
  }
  .advice-card-item {
    flex: 0 1 32%;
    margin: 0 auto 1rem auto;
  }
  .advice-card-link:hover {
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .advice-section {
    padding: 0 0 2.85rem 0;
  }
  .advice-head {
    margin-bottom: 2rem;
  }
  .advice-card-item {
    flex: 0 1 49%;
  }
}
@media screen and (max-width: 626px) {
  .advice-section {
    padding: 0 0 2rem 0;
  }
  .advice-head {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 426px) {
  .advice-card-item {
    flex: 0 1 100%;
  }
}
.advice-card-text-wrapper {
  padding: 2.15rem;
}

.advice-card-text-wrapper > *:not(:last-child) {
  margin-bottom: 1rem;
}

.advice-card-title {
  font-size: 1.15rem;
  font-weight: 700;
}

.advice-card-img-wrapper {
  width: 100%;
}

.advice-card-img-wrapper img {
  width: 100%;
  object-fit: cover;
}

/* -----------------------------------------------Styling About Section---------------------------------------- */

.about-section {
  background: #ffffff;
  padding: 7.15rem 0 9.7rem;
}

.about-head {
  margin-bottom: 7.15rem;
}

.about-content {
  display: flex;
  align-items: flex-start;
}

.about-video {
  flex: 0 0 57%;
  position: relative;
  overflow: hidden;
  margin-right: 10%;
  padding-top: 38%;
}

.about-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.about-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-info-head {
  padding: 1.4rem 0;
}

.about-list-item {
  padding-left: 3.7rem;
}

.about-list-item:nth-of-type(1) {
  background: url(../img/icons/about-section-item-1.svg) left no-repeat;
}

.about-list-item:nth-of-type(2) {
  background: url(../img/icons/about-section-item-2.svg) left no-repeat;
}

.about-list-item:not(:last-of-type) {
  margin-bottom: 2rem;
}

.about-list-item > *:not(:last-child) {
  margin-bottom: 0.35rem;
}

.about-list-item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.007rem;
}

.about-list-item-text {
  font-weight: 600;
  line-height: 1.7;
}

@media screen and (max-width: 1024px) {
  .about-section {
    padding: 1rem 0 5rem;
  }
  .about-head {
    margin-bottom: 2.15rem;
  }
  .about-video {
    margin-right: 5%;
  }
  .about-info-head {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 951px) {
  .about-content {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .about-video {
    margin: 0;
    padding-top: 56.25%;
  }
  .about-list-item {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .about-section {
    padding-bottom: 3.5rem;
  }
  .about-list-item,
  .about-list-item:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 626px) {
  .about-head {
    margin-bottom: 1rem;
  }
}

/* ----------------------------------------------Styling Clients Section------------------------------------------- */

.clients-section-container {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.client-logo {
  width: 16.66%;
  min-width: 8rem;
  padding: 1rem;
}

.client-logo img {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .clients-section-container {
    padding: 1.5rem 0;
  }
}

/* ------------------------------------------Styling Subscribe Form----------------------------------------------------------- */

.subscribe-section {
  position: relative;
}

.subscribe-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  background: #252b42;
}

.subscribe-section-container {
  padding: 1.4rem 0;
}

.subscribe-form {
  position: relative;
  z-index: 2;
  margin: 0 2.3rem;
  padding: 2.15rem 3.5rem;
  display: flex;
  justify-content: space-between;
  background: #17213c;
  border-radius: 2px;
}

.form-label {
  flex-basis: 30%;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.007rem;
  color: #ffffff;
}

.form-control-input-wrapper {
  flex: 0 1 50%;
  display: flex;
  border-radius: 0.35rem;
  align-items: center;
}

#form-input {
  flex: 1 1 auto;
  background: #f9f9f9;
  min-height: 4.15rem;
  font-weight: 400;
  line-height: 2;
  padding-left: 1.4rem;
  border: 0.07rem solid #e6e6e6;
  border-radius: 0.35rem 0 0 0.35rem;
}

#form-input:focus {
  outline: 0.14rem solid #ff7b47;
  border: 0.07rem solid transparent;
}

.form-btn {
  padding: 0 1rem;
  background: #ff7b47;
  min-height: 4.15rem;
  color: #fff;
  border: 0.07rem solid #e6e6e6;
  border-radius: 0 0.35rem 0.35rem 0;
  cursor: pointer;
  transition: all 0.4s;
}

.form-btn:hover,
.form-btn:focus {
  outline: 0.14rem solid #e6e6e6;
  border: 0.07rem solid transparent;
  background: #ff9561;
}

@media screen and (max-width: 910px) {
  .form-label {
    flex: 0 1 50%;
  }
}
@media screen and (max-width: 768px) {
  .subscribe-form {
    margin: 0 1.5rem;
    padding: 2.15rem 1.5rem;
  }
  .form-label {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 671px) {
  .subscribe-form {
    padding: 1.5rem 1.5rem;
    flex-direction: column;
  }
  .form-label {
    margin-bottom: 1rem;
  }
  #form-input,
  .form-btn {
    min-height: 3rem;
  }
}
@media screen and (max-width: 376px) {
  .form-control-input-wrapper {
    flex-direction: column;
  }
  .form-control-input-wrapper > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  #form-input,
  .form-btn {
    border-radius: 0.35rem;
    width: 100%;
    min-height: 2.15rem;
  }
}

/* -----------------------------------------------Styling Contact Section----------------------------------------- */

.contact-section {
  padding: 5.7rem 0 12.7rem;
  background: #f3f3f3;
}

.contact-head {
  margin-bottom: 7.85rem;
}

.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-list-item {
  flex-basis: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 2.85rem;
  background: #ffffff;
  transition: all 0.1s;
}

.contact-list-item > *:not(:last-child) {
  margin-bottom: 1rem;
}

.contact-icon-wrapper {
  line-height: 0;
}

.contact-icon-wrapper svg {
  width: 100%;
  max-width: 72px;
  height: auto;
}

.contact-email-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-email {
  font-weight: 600;
  line-height: 1.7;
}

.contact-label {
  font-weight: 700;
  font-size: 1.15rem;
  line-height: 1.5;
  letter-spacing: 0.007rem;
}

.contact-btn {
  padding: 0.7rem 1.4rem;
  border: 0.07rem solid #ff7b47;
  border-radius: 0.35rem;
  font-weight: 600;
  line-height: 1.7;
  color: #ff7b47;
}

.contact-btn:hover,
.contact-btn:focus {
  background: rgba(255, 123, 71, 0.1);
  outline: 0.14rem solid #ff7b47;
  border: 0.07rem solid transparent;
}
.contact-list-item:hover {
  background: #252b42;
  color: #fff;
  transform: scale(1.18);
}
.contact-list-item:hover > * {
  transform: scale(calc(1 / 1.18));
}
.contact-list-item:hover .contact-btn {
  color: #fff;
  border: 0.07rem solid #fff;
}
.contact-list-item:hover .contact-btn:hover,
.contact-list-item:hover .contact-btn:focus {
  border: 0.07rem solid transparent;
}
.contact-list-item:hover .contact-icon-wrapper svg path {
  fill: white;
}

@media screen and (max-width: 992px) {
  .contact-section {
    padding: 2.85rem 0 6.35rem;
  }
  .contact-head {
    margin-bottom: 4rem;
  }
  .contact-list-item {
    flex-basis: 32%;
    padding: 2.5rem 1.5rem;
  }
}
@media screen and (max-width: 820px) {
  .contact-section {
    padding: 2.85rem 0;
  }
  .contact-list {
    display: block;
  }
  .contact-list-item {
    width: 90%;
    margin: 0 auto 1rem;
    padding: 1rem;
    box-shadow: 0 1rem 1.4rem 0 rgba(0, 0, 0, 0.07);
  }
}
@media screen and (max-width: 466px) {
  .contact-head {
    margin-bottom: 3rem;
  }
  .contact-list-item {
    width: 100%;
  }
}

/* -----------------------------------Styling Contact Us Section-------------------------------------------------- */

.contact-us-section-container {
  padding-top: 2.85rem;
  padding-bottom: 2.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-us-text-wrapper {
  padding-right: 2.7rem;
}

.contact-us-text-wrapper > *:not(:last-child) {
  margin-bottom: 0.7rem;
}

.contact-us-title {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.3;
  letter-spacing: 0.007rem;
}

.contact-us-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #ff7b47;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  line-height: 2;
  min-width: 11.4rem;
  max-height: 4.15rem;
}

.contact-us-btn:hover,
.contact-us-btn:focus {
  background: rgba(255, 123, 71, 0.8);
}
.contact-us-btn:focus {
  outline: 0.14rem solid #ff7b47;
}

@media screen and (max-width: 992px) {
  .contact-us-section-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 466px) {
  .contact-us-section-container {
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .contact-us-section-container > *:not(:last-child) {
    margin-bottom: 0.7rem;
  }
  .contact-us-text-wrapper {
    padding-right: 0;
  }
}
@media screen and (max-width: 376px) {
  .contact-us-btn {
    width: 100%;
  }
}

/* ----------------------------------------Styling Footer--------------------------------------------------- */

.footer-top {
  background: #17213c;
  color: #fff;
}

.footer-top-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.footer-list-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-list-wrapper:not(:last-of-type) {
  flex-basis: 16%;
}

.footer-list-title {
  font-weight: 700;
  font-size: 1.15rem;
  line-height: 1.5;
  letter-spacing: 0.007rem;
  margin-bottom: 1.4rem;
}

.footer-list-item {
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 0.7rem;
}

.get-in-touch-list .footer-list-item {
  padding-left: 2.4rem;
  line-height: 2.15;
}

.footer-phone {
  background: url(../img/icons/footer-phone.svg) left no-repeat;
}
.footer-location {
  background: url(../img/icons/footer-map.svg) left no-repeat;
}
.footer-email {
  background: url(../img/icons/footer-alt.svg) left no-repeat;
}

.footer-bottom-container {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-text {
  font-weight: 600;
  line-height: 1.7;
  padding-right: 1rem;
}

.footer-bottom-socials {
  display: flex;
  align-items: center;
}
.footer-bottom-socials > *:not(:last-child) {
  margin-right: 1.4rem;
}

@media screen and (max-width: 992px) {
  .footer-list-wrapper:not(:last-of-type) {
    flex: 0 1 20%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer-list-wrapper:not(:last-of-type) {
    flex: 0 1 30%;
  }
}
@media screen and (max-width: 520px) {
  .footer-list-wrapper:not(:last-of-type) {
    flex: 0 1 40%;
  }
  .footer-bottom-container {
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer-bottom-container > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  .footer-bottom-text {
    padding-right: 0;
    text-align: center;
  }
}
@media screen and (max-width: 376px) {
  .footer-top-container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .footer-list-wrapper:not(:last-of-type),
  .footer-list-wrapper:last-of-type {
    flex: 0 1 80%;
  }
}
@media screen and (max-width: 320px) {
  .footer-list-wrapper:not(:last-of-type),
  .footer-list-wrapper:last-of-type {
    flex: 0 1 90%;
  }
}
