@use "sass:math";
@use "variables" as v;

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": v.$base-padding,
      "2": v.$base-padding * 2,
      "3": v.$base-padding * 4,
      "4": v.$base-padding * 6,
      "5": v.$base-padding * 8,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": v.$base-padding,
      "2": v.$base-padding * 2,
      "3": v.$base-padding * 4,
      "4": v.$base-padding * 6,
      "5": v.$base-padding * 8,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": v.$base-padding,
      "2": v.$base-padding * 2,
      "3": v.$base-padding * 4,
      "4": v.$base-padding * 6,
      "5": v.$base-padding * 8,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": v.$base-padding,
      "2": v.$base-padding * 2,
      "3": v.$base-padding * 4,
      "4": v.$base-padding * 6,
      "5": v.$base-padding * 8,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": v.$base-padding,
      "2": v.$base-padding * 2,
      "3": v.$base-padding * 4,
      "4": v.$base-padding * 6,
      "5": v.$base-padding * 8,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": v.$base-margin,
      "2": v.$base-margin * 2,
      "3": v.$base-margin * 4,
      "4": v.$base-margin * 6,
      "5": v.$base-margin * 8,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": v.$base-margin,
      "2": v.$base-margin * 2,
      "3": v.$base-margin * 4,
      "4": v.$base-margin * 6,
      "5": v.$base-margin * 8,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": v.$base-margin,
      "2": v.$base-margin * 2,
      "3": v.$base-margin * 4,
      "4": v.$base-margin * 6,
      "5": v.$base-margin * 8,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": v.$base-margin,
      "2": v.$base-margin * 2,
      "3": v.$base-margin * 4,
      "4": v.$base-margin * 6,
      "5": v.$base-margin * 8,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": v.$base-margin,
      "2": v.$base-margin * 2,
      "3": v.$base-margin * 4,
      "4": v.$base-margin * 6,
      "5": v.$base-margin * 8,
    ),
  ),
  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      "default": v.$base-border-radius,
      "none": 0,
      "xs": math.div(v.$base-border-radius, 4),
      "sm": math.div(v.$base-border-radius, 2),
      "lg": v.$base-border-radius * 2,
      "full": 50%,
    ),
  ),
  "display": (
    "prefix": "display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block,
    ),
  ),
  "font-size": (
    "prefix": "font",
    "values": (
      "sm": v.$font-size-sm,
      "md": v.$base-font-size,
      "lg": v.$font-size-lg,
      "xl": v.$font-size-xl,
      "xxl": v.$font-size-xxl,
    ),
  ),
);

// generate utility classes
@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
