body::before {
  content: "";
  display: block;
  height: 60px;
}

.boxes-btn {
  width: fit-content;
}

.rounded-circle {
  max-width: 128px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input-wrapper {
    width: 50%;
  }
}
